@import url('https://fonts.googleapis.com/css?family=Kaushan+Script');

/* Global Reset */
*{
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html{
  font-size: 62.5%;
}

body{
  font-family: "Lato",sans-serif;
  font-weight: 400;
  background: #FDFFFC;
  box-sizing: border-box;
  line-height: 1.7;
  overflow: hidden;
}

/*GLOBAL RULES*/
.section{
  padding: 2rem;
  height: 50vh;
}

.hover:hover{
  color: black;
  border-bottom: .2rem solid white;
}

.btn{
  display: inline-block;
  color: white;
  text-decoration: none;
  margin-top: 2rem;
  background-color: #B4206C;
  border-radius: .4rem;
  padding: 1.5rem;
}

/* Header-Navigation */
header{
  padding: 1rem;
  background: #776470;
  filter: opacity(90%);
  color: white;
  height: 8rem;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 10;
}

/*Logo*/
header div{
  font-size: 4rem;
  padding: 1rem;
  float: left;
}

/*Navigation*/
header nav{
  float: right;
  padding: 2rem;
  margin-right: 5rem;
}

header nav ul{
  display: inline;
  /* width: 1rem; */
}

header nav ul li{
  display: inline;
  /* width: 2rem; */
  padding: 1rem;
}

header nav ul li a{
  text-decoration: none;
  color: white;
  font-size: 2rem;
}

header nav ul li a{
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
}

#active-a{
  color: black;
  font-weight: bold;
  font-size: 1.8rem;
  text-decoration: underline;
}

/* Section-A */

.section-a{
  background: white;
}

.section-a .container{
  margin-top: 5rem;
  padding: 5rem;
  width: 100vw;
  display: block;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: auto;
}

.section-a .jumbotron{
  padding: 1rem;
}

.section-a .jumbotron .main-h1{
  font-size: 2rem;
}

.section-a .jumbotron .main-p{
  font-size: 2rem;
}

.section-a .container-images{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: repeat(2,1fr);
  grid-gap: 1rem;
  margin-left: 1rem;
}

.images{
  height: 15rem;
}

.image-1{
  background-image: url("Images/image-1.jpeg");
  background-position: center;
  background-size: cover;
}

.image-2{
  background-image: url("Images/image-2.jpeg");
  background-position: center;
  background-size: cover;
}

.image-3 {
  background-image: url("Images/image-6.jpeg");
  background-position: center;
  background-size: cover;
  grid-column: 1;
  position: relative;
  left: 8rem;
  bottom: 2rem;
}

.section-a .container-images .img-3{
  justify-self: center;
  margin-left: 30rem;
}

.section-a .container h1{
  color: #B4206C;
  font-weight: bold;
  font-size: 1.5rem;
}

/* Section-B */

.section-b{
  background-image: url("Images/image-4.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.section-b .container{
  font-size: 3rem;
  text-align: center;
  color: white;
  padding: 1rem;
  margin-top: 5rem;
}
