@import url('https://fonts.googleapis.com/css?family=Kaushan+Script');

/* Global Reset */
*{
    box-sizing: inherit;
    margin: 0px;
    padding: 0px;
  }
  
  html{
    font-size: 62.5%; /*Always use this for high reponsiveness. It allows users to zoom and change the font-size of the page*/
  }
  
  body{
    font-family: "Lato",sans-serif;
    font-weight: 400;
    background: #FDFFFC;
    box-sizing: border-box;
    line-height: 1.7;
  }

/*GLOBAL RULES*/
.container{
    width: 100vw;
    text-align: center;
  }
  
  .hover:hover{
    color: black;
    border-bottom: 0.2rem solid white;
  }
  
                                   /*HEADER*/
  header{
    padding: 1rem;
    background: #776470;
    filter: opacity(90%);
    color: white;
    height: 8rem;
    position: fixed;
    top: 2rem;
    width: 100vw;
  }

  
/*Logo*/
header div{
    font-size: 4rem;
    padding: 1rem;
    float: left;
  }

  /*Navigation*/
header nav{
    float: right;
    padding: 2rem;
    margin-right: 5rem;
  }
  
  header nav ul{
    display: inline;
    /* width: 1rem; */
  }
  
  header nav ul li{
    display: inline;
    /* width: 2rem; */
    padding: 1rem;
  }
  
  header nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 2rem;
  }
  
  header nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
  }
  
  #active-a{
    color: black;
    font-weight: bold;
    font-size: 1.8rem;
    text-decoration: underline;
  }

  /* Display(Services Section) */
  .display{
    height: 30rem;
    margin-top: 15rem;
    background-image: linear-gradient(
    to bottom right,
    rgba(204,192,200,0.5),
    rgba(74,54,68,0.9)),
    url(./Images/services-1.jpg);
    background-position: center;
    background-size: cover;
  }

  .display h1{
      padding: 10rem;
      font-size: 6rem;
      color: white;
      letter-spacing: 1.5rem;
  }

/* Special Offers */
  .characters{
      height: 20rem;
      background-color: rgb(223, 219, 219);
  }
  
  .characters h1{  
    padding: 1rem;
  }

  .characters h1 .h1-sub{
      font-family: 'Kaushan Script', cursive;
      font-size: 2rem;
      color: rgb(243, 42, 153);
      text-transform: capitalize;
      display: block;
      text-align: center;
  }

  .characters h1 .h1-main{
    display: block;
    font-size: 5rem;
    letter-spacing: 1.5rem;
    text-align: center;
}

/* Flash Cards */
.flash-cards{
    display: flex;
    margin-top: 2rem;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.flash-cards .card1{
    flex-basis: 30rem;
    background-color: rgb(241, 231, 231);
    height: 60rem;
    margin-right: 2rem;
}

.flash-cards .card2{
    flex-basis: 30rem;
    background-color: rgb(241, 231, 231);
    width: 10rem;
    margin-right: 2rem;
}

.flash-cards .card3{
    flex-basis: 30rem;
    background-color: rgb(241, 231, 231);
    width: 10rem;
    margin-right: 2rem;
}

.flash-cards .card4{
    flex-basis: 30rem;
    background-color: rgb(241, 231, 231);
    width: 10rem;   
}

.flash-cards .clip{
    margin-top: 1rem;
    height: 30rem;
    display: block;
    clip-path: circle(43.8% at 50% 50%);
}

#c1{
    background-image: url(./Images/clippy1.jpg);
    background-position: center;
    background-size: cover;
}

#c2{
    background-image: url(./Images/clippy2.jpg);
    background-position: center;
    background-size: cover; 
}

#c3{
    background-image: url(./Images/clippy3.jpg);
    background-position: center;
    background-size: cover; 
}

#c4{
    background-image: url(./Images/clippy4.jpg);
    background-position: center;
    background-size: cover; 
}

section span{
    display: block;
}

/* Adding buttons to the flashcards */
.btn:link,.btn:visited{
    font-size: 1.7rem;
    display: inline-block;
    color: black;
    text-decoration: none;
    margin-top: 2rem;
    background-color: rgb(211, 174, 174);
    border-radius: 7rem;
    padding: 1.5rem;
    width: 13rem;
}

.btn:hover{
    font-size: 1.7rem;
    display: inline-block;
    color: white;
    text-decoration: none;
    margin-top: 2rem;
    background-color: #B4206C;
    border-radius: 7rem;
    padding: 1.5rem;
    width: 13rem;
    animation-name: changeButtonColor;
    animation-duration: 1s;
}

/* Animation */
@keyframes changeButtonColor{
    0%{
       background-color: white; 
    }
    100%{
        background-color: #B4206C; 
    }
}

.p-card{
    display: none;
}

/* Details */
.details .braids{
    display: none;
    width: 30%;
    margin: 1rem auto;
    border: .2rem solid black;
    position: absolute;
    z-index: 50;
    background-color: rgb(252, 247, 247);
    padding: 1rem;
    top: 55vh;
    left: 35vw;
}

.details .braids h1{
    border-bottom: .1rem solid gray;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.details .span-1{
    display: inline-block;
    text-align: start;
    margin-top: 2rem;
    margin-left: 1rem;
}


.details .btn-details{
    width: 10rem;
    font-size: 1.3rem;
    margin-left: 10rem;
    border-radius: 0;
    padding: 1rem;
    margin-bottom: 1rem;
}

.x-icon{
    height: 1.5rem; 
    width: 1.5rem;
    position: absolute;
    left: 45rem;
    top: .5rem;
    cursor: pointer;
}